# 1. Data wrangling, consistency checks and main df creation

### This script contains:

1. Import libraries
2. Import data
3. Data wrangling
    <br>3.1 Suicide dataframe
    <br>3.2 Population dataframe
    <br>3.3 Unemployment dataframe
    <br>3.4 GDP dataframe
    <br>3.5 Create subset
4. Consistency checks
    <br>4.1 Suicide dataframe
    <br>4.2 Population dataframe
    <br>4.3 Unemployment dataframe
    <br>4.4 GDP dataframe
5. Merging dataframes
    <br>5.1 Merging suicide df with population df
    <br>5.2 Merging df1 with unemployment df
    <br>5.3 Merging df2 with gdp df
6 Data wrangling - final df check
    <br>6.1 Removing missing values from the df
7 Consistency check - final df check
8 Exporting the dataframe

# Import libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

# Import data

In [2]:
# file path

path = r'C:\Users\Odette\Desktop\CareerFoundry\Immersion Courses\Course 6\02 Data'

In [3]:
# import partial suicide data set

suicide1_df = pd.read_csv(os.path.join(path, 'Original Data', 'Suicide rate data.csv'), nrows=20, index_col = False)

In [4]:
suicide1_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.00,NaN,0.00,0 [0 – 0],NaN,NaN,EN,2021-02-08T14:00:00.000Z
1,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.11,NaN,0.22,0.16 [0.11 – 0.22],NaN,NaN,EN,2021-02-08T14:00:00.000Z
2,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.22,NaN,0.42,0.31 [0.22 – 0.42],NaN,NaN,EN,2021-02-08T14:00:00.000Z
3,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.22,NaN,0.45,0.32 [0.22 – 0.45],NaN,NaN,EN,2021-02-08T14:00:00.000Z
4,MH_12,Age-standardized suicide rates (per 100 000 po...,numeric,AMR,Americas,Country,BRB,Barbados,Year,2019,...,NaN,NaN,0.34,NaN,0.65,0.49 [0.34 – 0.65],NaN,NaN,EN,2021-02-08T14:00:00.000Z

In [5]:
# import suicide data set with only necessary columns (within the suicide_list)

suicide_list = ['ParentLocationCode', 'ParentLocation', 'SpatialDimValueCode', 'Location', 'Period', 'Dim1', 'FactValueNumeric']

suicide_df = pd.read_csv(os.path.join(path, 'Original Data', 'Suicide rate data.csv'), usecols = suicide_list, index_col = False)

In [6]:
suicide_df.head()

,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period,Dim1,FactValueNumeric
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00
1,AMR,Americas,BRB,Barbados,2019,Female,0.16
2,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31
3,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32
4,AMR,Americas,BRB,Barbados,2019,Male,0.49

In [7]:
# count rows & columns

suicide_df.shape

(10980, 7)

In [8]:
# import population data set

pop_df = pd.read_csv(os.path.join(path, 'Original Data', 'Population data.csv'), index_col = False)

In [9]:
pop_df.head()

,Country Name,Country Code,Time,Time Code,"Population, female [SP.POP.TOTL.FE.IN]","Population, male [SP.POP.TOTL.MA.IN]","Population, total [SP.POP.TOTL]"
0,Afghanistan,AFG,2006,YR2006,12809162,13623896,26433058
1,Afghanistan,AFG,2007,YR2007,13161572,13938970,27100542
2,Afghanistan,AFG,2008,YR2008,13496556,14225725,27722281
3,Afghanistan,AFG,2009,YR2009,13850751,14544055,28394806
4,Afghanistan,AFG,2010,YR2010,14249755,14935756,29185511

In [10]:
# count rows & columns

pop_df.shape

(3990, 7)

In [11]:
# import unemployment data set

unemp_df = pd.read_csv(os.path.join(path, 'Original Data', 'Unemployment data.csv'), index_col = False)

In [12]:
unemp_df.head()

,Country Name,Country Code,Time,Time Code,"Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]"
0,Afghanistan,AFG,2006,YR2006,11.34
1,Afghanistan,AFG,2007,YR2007,11.18
2,Afghanistan,AFG,2008,YR2008,11.11
3,Afghanistan,AFG,2009,YR2009,11.46
4,Afghanistan,AFG,2010,YR2010,11.52

# count rows & columns

unemp_df.shape

In [13]:
# import GDP data set

gdp_df = pd.read_csv(os.path.join(path, 'Original Data', 'GDP data.csv'), index_col = False)

In [14]:
gdp_df.head()

  Country Name Country Code  Time Time Code GDP (current US$) [NY.GDP.MKTP.CD]
0  Afghanistan          AFG  2011    YR2011                     17805113118.89
1  Afghanistan          AFG  2012    YR2012                     19907317065.67
2  Afghanistan          AFG  2013    YR2013                     20146404996.22
3  Afghanistan          AFG  2014    YR2014                     20497126770.13
4  Afghanistan          AFG  2015    YR2015                     19134211763.86

In [15]:
# count rows & columns

gdp_df.shape

(2660, 5)

# Data wrangling

### Suicide dataframe (main df)

In [16]:
# rename columns to intuitive names

suicide_df.rename(columns = {'ParentLocationCode' : 'Region Code', 'ParentLocation' : 'Region', 'SpatialDimValueCode' : 'Country Code', 'Location' : 'Country', 'Period' : 'Year', 'Dim1' : 'Sex', 'FactValueNumeric' : 'Suicide Rates per 100,000'}, inplace = True)

In [17]:
# confirm change

suicide_df.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000"
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00
1,AMR,Americas,BRB,Barbados,2019,Female,0.16
2,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31
3,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32
4,AMR,Americas,BRB,Barbados,2019,Male,0.49

In [18]:
# data type check

suicide_df.dtypes

Region Code                   object
Region                        object
Country Code                  object
Country                       object
Year                           int64
Sex                           object
Suicide Rates per 100,000    float64
dtype: object

In [19]:
# changing data type of year column

suicide_df['Year'] = suicide_df['Year'].astype('int16')

In [20]:
# data type check - confirmation

suicide_df.dtypes

Region Code                   object
Region                        object
Country Code                  object
Country                       object
Year                           int16
Sex                           object
Suicide Rates per 100,000    float64
dtype: object

### Population dataframe

In [21]:
# checking for missing values in the dataframe

pop_df.isnull().sum()

Country Name                              0
Country Code                              0
Time                                      0
Time Code                                 0
Population, female [SP.POP.TOTL.FE.IN]    0
Population, male [SP.POP.TOTL.MA.IN]      0
Population, total [SP.POP.TOTL]           0
dtype: int64

In [22]:
# rename columns to intuitive names and to match the suicide_df

pop_df.rename(columns = {'Country Name' : 'Country', 'Time' : 'Year', 'Population, female [SP.POP.TOTL.FE.IN]' : 'Female Population', 'Population, male [SP.POP.TOTL.MA.IN]' : 'Male Population', 'Population, total [SP.POP.TOTL]' : 'Total Population'}, inplace = True)

In [23]:
# confirm change

pop_df.head()

,Country,Country Code,Year,Time Code,Female Population,Male Population,Total Population
0,Afghanistan,AFG,2006,YR2006,12809162,13623896,26433058
1,Afghanistan,AFG,2007,YR2007,13161572,13938970,27100542
2,Afghanistan,AFG,2008,YR2008,13496556,14225725,27722281
3,Afghanistan,AFG,2009,YR2009,13850751,14544055,28394806
4,Afghanistan,AFG,2010,YR2010,14249755,14935756,29185511

In [24]:
# drop 'Time Code' column as unncessary for analysis

pop_df.drop(columns = ['Time Code'], inplace = True)

In [25]:
# confirm change

pop_df.head()

,Country,Country Code,Year,Female Population,Male Population,Total Population
0,Afghanistan,AFG,2006,12809162,13623896,26433058
1,Afghanistan,AFG,2007,13161572,13938970,27100542
2,Afghanistan,AFG,2008,13496556,14225725,27722281
3,Afghanistan,AFG,2009,13850751,14544055,28394806
4,Afghanistan,AFG,2010,14249755,14935756,29185511

In [26]:
# data type check

pop_df.dtypes

Country              object
Country Code         object
Year                  int64
Female Population    object
Male Population      object
Total Population     object
dtype: object

In [27]:
# changing data type of year column

pop_df['Year'] = pop_df['Year'].astype('int16')

In [28]:
# getting this error when trying to change the population columns into integers: invalid literal for int() with base 10: '..'
# need to find the '..' values within each column and change to 0 or remove from the database

In [29]:
# Find out how many records in the 'Female Population' column have '..'

pop_df.loc[pop_df['Female Population'] == '..']

,Country,Country Code,Year,Female Population,Male Population,Total Population
45,American Samoa,ASM,2006,..,..,59109
46,American Samoa,ASM,2007,..,..,58367
47,American Samoa,ASM,2008,..,..,57490
48,American Samoa,ASM,2009,..,..,56675
49,American Samoa,ASM,2010,..,..,56084
...,...,...,...,...,...,...
3790,Not classified,INX,2016,..,..,..
3791,Not classified,INX,2017,..,..,..
3792,Not classified,INX,2018,..,..,..
3793,Not classified,INX,2019,..,..,..
3794,Not classified,INX,2020,..,..,..

In [30]:
# As there are 369 obervations with '..', which affects 41 countries (369/9 observations each), I will merge all df's before deciding what to do with these records 
# This will allow me to see if there are countries with complete or partial missing information across all df's, and allow me to make a more informaed decision

In [31]:
# data type check - confirmation

pop_df.dtypes

Country              object
Country Code         object
Year                  int16
Female Population    object
Male Population      object
Total Population     object
dtype: object

### Unemployment dataframe

In [32]:
# checking for missing values in the dataframe

unemp_df.isnull().sum()

Country Name                                                                            0
Country Code                                                                            0
Time                                                                                    0
Time Code                                                                               0
Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]    0
dtype: int64

In [33]:
# rename columns to intuitive names and to match the suicide_df

unemp_df.rename(columns = {'Country Name' : 'Country', 'Time' : 'Year', 'Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]' : 'Unemployment Percentage'}, inplace = True)

In [34]:
# confirm changes

unemp_df.head()

       Country Country Code  Year Time Code Unemployment Percentage
0  Afghanistan          AFG  2006    YR2006                   11.34
1  Afghanistan          AFG  2007    YR2007                   11.18
2  Afghanistan          AFG  2008    YR2008                   11.11
3  Afghanistan          AFG  2009    YR2009                   11.46
4  Afghanistan          AFG  2010    YR2010                   11.52

In [35]:
# drop 'Time Code' column as unncessary for analysis

unemp_df.drop(columns = ['Time Code'], inplace = True)

In [36]:
# confirm changes

unemp_df.head()

       Country Country Code  Year Unemployment Percentage
0  Afghanistan          AFG  2006                   11.34
1  Afghanistan          AFG  2007                   11.18
2  Afghanistan          AFG  2008                   11.11
3  Afghanistan          AFG  2009                   11.46
4  Afghanistan          AFG  2010                   11.52

In [37]:
# data type check

unemp_df.dtypes

Country                    object
Country Code               object
Year                        int64
Unemployment Percentage    object
dtype: object

In [38]:
# changing data type of year column

unemp_df['Year'] = unemp_df['Year'].astype('int16')

In [39]:
# data type check - confirmation

unemp_df.dtypes

Country                    object
Country Code               object
Year                        int16
Unemployment Percentage    object
dtype: object

### GDP dataframe

In [40]:
# checking for missing values in the dataframe

gdp_df.isnull().sum()

Country Name                          0
Country Code                          0
Time                                  0
Time Code                             0
GDP (current US$) [NY.GDP.MKTP.CD]    0
dtype: int64

In [41]:
# rename columns to intuitive names and to match the suicide_df

gdp_df.rename(columns = {'Country Name' : 'Country', 'Time' : 'Year', 'GDP (current US$) [NY.GDP.MKTP.CD]' : 'GDP (Current US$)'}, inplace = True)

In [42]:
# confirm changes

gdp_df.head()

       Country Country Code  Year Time Code GDP (Current US$)
0  Afghanistan          AFG  2011    YR2011    17805113118.89
1  Afghanistan          AFG  2012    YR2012    19907317065.67
2  Afghanistan          AFG  2013    YR2013    20146404996.22
3  Afghanistan          AFG  2014    YR2014    20497126770.13
4  Afghanistan          AFG  2015    YR2015    19134211763.86

In [43]:
# drop 'Time Code' column as unncessary for analysis

gdp_df.drop(columns = ['Time Code'], inplace = True)

In [44]:
# confirm changes

gdp_df.head()

       Country Country Code  Year GDP (Current US$)
0  Afghanistan          AFG  2011    17805113118.89
1  Afghanistan          AFG  2012    19907317065.67
2  Afghanistan          AFG  2013    20146404996.22
3  Afghanistan          AFG  2014    20497126770.13
4  Afghanistan          AFG  2015    19134211763.86

In [45]:
# data type check

gdp_df.dtypes

Country              object
Country Code         object
Year                  int64
GDP (Current US$)    object
dtype: object

# Consistency checks

### Suicide dataframe

In [46]:
# check nothing out of the ordinary with the descriptive statistics

suicide_df.describe()

               Year  Suicide Rates per 100,000
count  10980.000000               10980.000000
mean    2009.500000                  11.960951
std        5.766544                  12.812487
min     2000.000000                   0.000000
25%     2004.750000                   4.630000
50%     2009.500000                   8.270000
75%     2014.250000                  14.940000
max     2019.000000                 195.200000

##### Nothing looks out of the ordinary

In [47]:
# check for mixed type data

for col in suicide_df.columns.tolist():
  weird = (suicide_df[[col]].applymap(type) != suicide_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (suicide_df[weird]) > 0:
    print (col)

##### No mixed type data columns

In [48]:
# checking for missing values in the dataframe

suicide_df.isnull().sum()

Region Code                  0
Region                       0
Country Code                 0
Country                      0
Year                         0
Sex                          0
Suicide Rates per 100,000    0
dtype: int64

##### No missing values

In [49]:
# checking for full duplicates in the df

sui_dups_df = suicide_df[suicide_df.duplicated()]

In [50]:
sui_dups_df

Empty DataFrame
Columns: [Region Code, Region, Country Code, Country, Year, Sex, Suicide Rates per 100,000]
Index: []

##### No full duplicates in the df

In [51]:
# confirming no changes to suicide_df

suicide_df.shape

(10980, 7)

### Population dataframe

In [52]:
# check nothing out of the ordinary with the descriptive statistics

pop_df.describe()

              Year
count  3990.000000
mean   2013.000000
std       4.321035
min    2006.000000
25%    2009.000000
50%    2013.000000
75%    2017.000000
max    2020.000000

##### Nothing looks out of the ordinary

In [53]:
# check for mixed type data

for col in pop_df.columns.tolist():
  weird = (pop_df[[col]].applymap(type) != pop_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (pop_df[weird]) > 0:
    print (col)

##### No mixed type data columns

In [54]:
# checking for missing values in the dataframe

pop_df.isnull().sum()

Country              0
Country Code         0
Year                 0
Female Population    0
Male Population      0
Total Population     0
dtype: int64

##### No missing values

In [55]:
# checking for full duplicates in the df

pop_dups_df = suicide_df[suicide_df.duplicated()]

In [56]:
pop_dups_df

Empty DataFrame
Columns: [Region Code, Region, Country Code, Country, Year, Sex, Suicide Rates per 100,000]
Index: []

##### No full duplicates in the df

In [57]:
# confirming no changes to suicide_df

pop_df.shape

(3990, 6)

### Unemployment dataframe

In [58]:
# check nothing out of the ordinary with the descriptive statistics

unemp_df.describe()

              Year
count  3990.000000
mean   2013.000000
std       4.321035
min    2006.000000
25%    2009.000000
50%    2013.000000
75%    2017.000000
max    2020.000000

##### Nothing looks out of the ordinary

In [59]:
# check for mixed type data

for col in unemp_df.columns.tolist():
  weird = (unemp_df[[col]].applymap(type) != unemp_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (unemp_df[weird]) > 0:
    print (col)

##### No mixed type data columns

In [60]:
# checking for missing values in the dataframe

unemp_df.isnull().sum()

Country                    0
Country Code               0
Year                       0
Unemployment Percentage    0
dtype: int64

##### No missing values

In [61]:
# checking for full duplicates in the df

unemp_dups_df = suicide_df[suicide_df.duplicated()]

In [62]:
unemp_dups_df

Empty DataFrame
Columns: [Region Code, Region, Country Code, Country, Year, Sex, Suicide Rates per 100,000]
Index: []

##### No full duplicates in the df

In [63]:
# confirming no changes to suicide_df

unemp_df.shape

(3990, 4)

### GDP dataframe

In [64]:
# check nothing out of the ordinary with the descriptive statistics

gdp_df.describe()

              Year
count  2660.000000
mean   2015.500000
std       2.872821
min    2011.000000
25%    2013.000000
50%    2015.500000
75%    2018.000000
max    2020.000000

##### Nothing looks out of the ordinary

In [65]:
# check for mixed type data

for col in gdp_df.columns.tolist():
  weird = (gdp_df[[col]].applymap(type) != gdp_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (gdp_df[weird]) > 0:
    print (col)

##### No mixed type data columns

In [66]:
# checking for missing values in the dataframe

gdp_df.isnull().sum()

Country              0
Country Code         0
Year                 0
GDP (Current US$)    0
dtype: int64

##### No missing values

In [67]:
# checking for full duplicates in the df

gdp_dups_df = suicide_df[suicide_df.duplicated()]

In [68]:
gdp_dups_df

Empty DataFrame
Columns: [Region Code, Region, Country Code, Country, Year, Sex, Suicide Rates per 100,000]
Index: []

##### No full duplicates in the df

In [69]:
# confirming no changes to suicide_df

gdp_df.shape

(2660, 4)

## Create subset
#### Subset required as only the years 2011-19 are needed from the Suicide dataframe (main df)

In [70]:
# use the loc function to create a subset

sub_df = suicide_df.loc[suicide_df['Year'].isin([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])]

In [71]:
sub_df.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000"
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00
1,AMR,Americas,BRB,Barbados,2019,Female,0.16
2,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31
3,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32
4,AMR,Americas,BRB,Barbados,2019,Male,0.49

In [72]:
# count rows & columns

sub_df.shape

(4941, 7)

In [73]:
# check to confirm only required years are in the subset

sub_df['Year'].value_counts(dropna = False).sort_index(ascending = True)

2011    549
2012    549
2013    549
2014    549
2015    549
2016    549
2017    549
2018    549
2019    549
Name: Year, dtype: int64

# Merging dataframes

## Merging suicide df with population df

In [74]:
# merging pop_df onto sub_df using a left join

df1 = pd.merge(sub_df,pop_df[['Country Code', 'Year', 'Female Population', 'Male Population', 'Total Population']], on = ['Country Code', 'Year'], how ='inner', indicator = True)

In [75]:
df1.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,_merge
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,both
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,both
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,both
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,both
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,both

In [76]:
df1['_merge'].value_counts()

both          4941
left_only        0
right_only       0
Name: _merge, dtype: int64

In [77]:
# merged correctly, so will drop unnecessary columns

df1.drop(columns = [ '_merge'], inplace = True)

In [78]:
# confirm change is correct

df1.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021

In [79]:
df1.shape

(4941, 10)

## Merging df1 with unemployment df

In [80]:
# merging unemp_df onto df1 using a left join

df2 = pd.merge(df1,unemp_df[['Country Code', 'Year', 'Unemployment Percentage']], on = ['Country Code', 'Year'], how ='left', indicator = True)

In [81]:
df2.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,_merge
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,..,both
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,..,both
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,..,both
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1,both
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1,both

In [82]:
df2['_merge'].value_counts()

both          4941
left_only        0
right_only       0
Name: _merge, dtype: int64

In [83]:
# merged correctly, so will drop unnecessary columns

df2.drop(columns = [ '_merge'], inplace = True)

In [84]:
# confirm change is correct

df2.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,..
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,..
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,..
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1

In [85]:
df2.shape

(4941, 11)

## Merging df2 with gdp df

In [86]:
# merging gdp_df onto df2 using a left join

df3 = pd.merge(df2,gdp_df[['Country Code', 'Year', 'GDP (Current US$)']], on = ['Country Code', 'Year'], how ='left', indicator = True)

In [87]:
df3.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$),_merge
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,..,1687533333.33,both
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,..,1687533333.33,both
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,..,1687533333.33,both
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1,5209000000.00,both
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1,5209000000.00,both

In [88]:
df3["_merge"].value_counts()

both          4941
left_only        0
right_only       0
Name: _merge, dtype: int64

In [89]:
# merged correctly, so will drop unnecessary columns

df3.drop(columns = [ '_merge'], inplace = True)

In [90]:
# confirm change is correct

df3.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,..,1687533333.33
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,..,1687533333.33
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,..,1687533333.33
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1,5209000000.00
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1,5209000000.00

In [91]:
df3.shape

(4941, 12)

# Data wrangling - final df check

In [92]:
# checking for missing values in the dataframe

df3.isnull().sum()

Region Code                  0
Region                       0
Country Code                 0
Country                      0
Year                         0
Sex                          0
Suicide Rates per 100,000    0
Female Population            0
Male Population              0
Total Population             0
Unemployment Percentage      0
GDP (Current US$)            0
dtype: int64

In [93]:
# data type check

df3.dtypes

Region Code                   object
Region                        object
Country Code                  object
Country                       object
Year                           int16
Sex                           object
Suicide Rates per 100,000    float64
Female Population             object
Male Population               object
Total Population              object
Unemployment Percentage       object
GDP (Current US$)             object
dtype: object

In [94]:
# getting this error when trying to change the population columns into integers: invalid literal for int() with base 10: '..'
# need to find the '..' values within each column and change to 0 or remove from the database

### Removing missing values from the df

In [95]:
# Find out how many records in the unemployment column have '..'

d = df3[df3['Unemployment Percentage'] == '..']

In [96]:
d

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
0,AMR,Americas,ATG,Antigua and Barbuda,2019,Male,0.00,50264,46851,97115,..,1687533333.33
1,AMR,Americas,ATG,Antigua and Barbuda,2019,Both sexes,0.32,50264,46851,97115,..,1687533333.33
2,AMR,Americas,ATG,Antigua and Barbuda,2019,Female,0.60,50264,46851,97115,..,1687533333.33
6,AMR,Americas,GRD,Grenada,2019,Male,0.53,55576,56426,112002,..,1212694407.41
7,AMR,Americas,GRD,Grenada,2019,Both sexes,0.64,55576,56426,112002,..,1212694407.41
...,...,...,...,...,...,...,...,...,...,...,...,...
4507,WPR,Western Pacific,KIR,Kiribati,2011,Both sexes,32.85,53218,51517,104735,..,181705153.61
4508,WPR,Western Pacific,KIR,Kiribati,2011,Male,57.41,53218,51517,104735,..,181705153.61
4632,WPR,Western Pacific,FSM,Micronesia (Federated States of),2011,Female,12.35,50937,52511,103448,..,311301600.00
4633,WPR,Western Pacific,FSM,Micronesia (Federated States of),2011,Both sexes,27.52,50937,52511,103448,..,311301600.00
4634,WPR,Western Pacific,FSM,Micronesia (Federated States of),2011,Male,42.48,50937,52511,103448,..,311301600.00

In [97]:
# check what countries are missing values, and if all or partial records are missing

d['Country'].value_counts()

Grenada                             27
Antigua and Barbuda                 27
Seychelles                          27
Micronesia (Federated States of)    27
Kiribati                            27
Name: Country, dtype: int64

#### As all records for these countries are missing values, I will remove them from database as they don't allow a complete analysis

In [98]:
# Find out how many records in the GDP column have '..'

d1 = df3[df3['GDP (Current US$)'] == '..']

In [99]:
d1

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
12,AMR,Americas,VEN,Venezuela (Bolivarian Republic of),2019,Female,0.69,14470601,14045228,28515829,7.16,..
13,AMR,Americas,VEN,Venezuela (Bolivarian Republic of),2019,Both sexes,2.10,14470601,14045228,28515829,7.16,..
14,AMR,Americas,VEN,Venezuela (Bolivarian Republic of),2019,Male,3.65,14470601,14045228,28515829,7.16,..
144,AFR,Africa,SSD,South Sudan,2019,Male,10.38,5525584,5536530,11062114,12.01,..
145,AFR,Africa,SSD,South Sudan,2019,Female,3.38,5525584,5536530,11062114,12.01,..
...,...,...,...,...,...,...,...,...,...,...,...,...
4579,SEAR,South-East Asia,PRK,Democratic People's Republic of Korea,2011,Female,7.50,12615979,12057413,24673392,2.9,..
4580,SEAR,South-East Asia,PRK,Democratic People's Republic of Korea,2011,Both sexes,9.24,12615979,12057413,24673392,2.9,..
4752,EMR,Eastern Mediterranean,SOM,Somalia,2011,Both sexes,15.32,6196100,6180205,12376305,13.38,..
4753,EMR,Eastern Mediterranean,SOM,Somalia,2011,Male,23.69,6196100,6180205,12376305,13.38,..
4754,EMR,Eastern Mediterranean,SOM,Somalia,2011,Female,7.32,6196100,6180205,12376305,13.38,..

In [100]:
# check what countries are missing values, and if all or partial records are missing

d1['Country'].value_counts()

Democratic People's Republic of Korea    27
Eritrea                                  24
Venezuela (Bolivarian Republic of)       15
South Sudan                              12
Somalia                                   6
Yemen                                     3
Name: Country, dtype: int64

#### As records for these countries are missing values, I will remove them from database as they don't allow a complete analysis (along with the 5 countries identified above, 297 rows in total will be removed)

In [101]:
# Find out how many records in the total population column have '..'

d2 = df3[df3['Total Population'] == '..']

In [102]:
d2.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
417,AFR,Africa,ERI,Eritrea,2019,Both sexes,17.26,..,..,..,6.34,..
418,AFR,Africa,ERI,Eritrea,2019,Male,27.16,..,..,..,6.34,..
419,AFR,Africa,ERI,Eritrea,2019,Female,8.28,..,..,..,6.34,..
957,AFR,Africa,ERI,Eritrea,2018,Both sexes,17.84,..,..,..,6.41,..
958,AFR,Africa,ERI,Eritrea,2018,Male,28.13,..,..,..,6.41,..

In [103]:
# check what countries are missing values, and if all or partial records are missing

d2['Country'].value_counts()

Eritrea    24
Name: Country, dtype: int64

In [104]:
# create a list of countries to be removed

countries_to_remove = ['Antigua and Barbuda', 'Kiribati', 'Grenada', 'Micronesia (Federated States of)', 'Seychelles', 'Venezuela (Bolivarian Republic of)', "Democratic People's Republic of Korea", 'Eritrea', 'South Sudan', 'Somalia', 'Yemen']

In [105]:
df_new = df3[~df3['Country'].isin(countries_to_remove)]

In [106]:
df_new.shape

(4644, 12)

297 rows removed as expected

In [107]:
df_new.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
3,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1,5209000000.00
4,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1,5209000000.00
5,AMR,Americas,BRB,Barbados,2019,Male,0.49,148208,138813,287021,10.1,5209000000.00
9,AMR,Americas,VCT,Saint Vincent and the Grenadines,2019,Female,0.67,54496,56097,110593,18.62,825040740.74
10,AMR,Americas,VCT,Saint Vincent and the Grenadines,2019,Both sexes,1.01,54496,56097,110593,18.62,825040740.74

In [108]:
# reset the index to begin at 0

df_new = df_new.reset_index(drop=True)

In [109]:
# confirm reindexing is correct

df_new.head()

,Region Code,Region,Country Code,Country,Year,Sex,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
0,AMR,Americas,BRB,Barbados,2019,Female,0.16,148208,138813,287021,10.1,5209000000.00
1,AMR,Americas,BRB,Barbados,2019,Both sexes,0.31,148208,138813,287021,10.1,5209000000.00
2,AMR,Americas,BRB,Barbados,2019,Male,0.49,148208,138813,287021,10.1,5209000000.00
3,AMR,Americas,VCT,Saint Vincent and the Grenadines,2019,Female,0.67,54496,56097,110593,18.62,825040740.74
4,AMR,Americas,VCT,Saint Vincent and the Grenadines,2019,Both sexes,1.01,54496,56097,110593,18.62,825040740.74

In [110]:
# data type check

df_new.dtypes

Region Code                   object
Region                        object
Country Code                  object
Country                       object
Year                           int16
Sex                           object
Suicide Rates per 100,000    float64
Female Population             object
Male Population               object
Total Population              object
Unemployment Percentage       object
GDP (Current US$)             object
dtype: object

In [111]:
# changing data type of female, male & total population columns

df_new[['Female Population', 'Male Population', 'Total Population']] = df_new[['Female Population', 'Male Population', 'Total Population']].astype('int32')

In [112]:
# changing data type of unemployment column

df_new['Unemployment Percentage'] = df_new['Unemployment Percentage'].astype('float32')

In [113]:
# changing data type of GDP (Current US$) column

df_new['GDP (Current US$)'] = df_new['GDP (Current US$)'].astype('float64')

In [114]:
# # data type check - confirmation

df_new.dtypes

Region Code                   object
Region                        object
Country Code                  object
Country                       object
Year                           int16
Sex                           object
Suicide Rates per 100,000    float64
Female Population              int32
Male Population                int32
Total Population               int32
Unemployment Percentage      float32
GDP (Current US$)            float64
dtype: object

# Consistency check - final df check

In [115]:
# check nothing out of the ordinary with the descriptive statistics

df_new.describe()

,Year,"Suicide Rates per 100,000",Female Population,Male Population,Total Population,Unemployment Percentage,GDP (Current US$)
count,4644.000000,4644.000000,4.644000e+03,4.644000e+03,4.644000e+03,4644.000000,4.644000e+03
mean,2015.000000,11.086190,2.073047e+07,2.109405e+07,4.182452e+07,7.603660,4.564068e+11
std,2.582267,12.866893,7.216167e+07,7.664921e+07,1.487929e+08,5.752885,1.750517e+12
min,2011.000000,0.000000,5.040700e+04,5.037300e+04,1.007800e+05,0.110000,2.314893e+08
25%,2013.000000,4.330000,1.428118e+06,1.392436e+06,2.864740e+06,3.600000,1.207104e+10
50%,2015.000000,7.710000,4.738714e+06,4.677914e+06,9.447676e+06,5.930000,4.198428e+10
75%,2017.000000,13.762500,1.485346e+07,1.526012e+07,3.009713e+07,9.912500,2.361509e+11
max,2019.000000,195.200000,6.854803e+08,7.222647e+08,1.407745e+09,31.379999,2.143322e+13

##### Nothing looks out of the ordinary

In [116]:
# checking for missing values in the dataframe

df_new.isnull().sum()

Region Code                  0
Region                       0
Country Code                 0
Country                      0
Year                         0
Sex                          0
Suicide Rates per 100,000    0
Female Population            0
Male Population              0
Total Population             0
Unemployment Percentage      0
GDP (Current US$)            0
dtype: int64

##### No missing values

In [117]:
# checking for full duplicates in the df

final_dups_df = df_new[df_new.duplicated()]

In [118]:
final_dups_df

Empty DataFrame
Columns: [Region Code, Region, Country Code, Country, Year, Sex, Suicide Rates per 100,000, Female Population, Male Population, Total Population, Unemployment Percentage, GDP (Current US$)]
Index: []

##### No full duplicates in the df

In [119]:
# confirming no changes to suicide_df

df_new.shape

(4644, 12)

# Exporting the dataframe

In [121]:
# 9. exporting df_prods_clean_no_dups dataframe as “Suicide_clean.csv”

df_new.to_csv(os.path.join(path, 'Prepared Data', 'Suicide_clean.csv'), index = False)